.container {
  width: 90%;
  margin: auto;
  margin-top: 4rem;
}
.vision h3,
.mission h3,
.welcome h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: Lato;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.vision p,
.mission p,
.welcome p {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 3rem;
}

@media screen and (max-width:768px){
  .vision h3,
.mission h3,
.welcome h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: Lato;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
}

.vision p,
.mission p,
.welcome p {
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 3rem;
}
}
@media screen and (max-width:426px){
  .vision h3,
.mission h3,
.welcome h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  line-height: 48px;
}

.vision p,
.mission p,
.welcome p {
  font-family: Lato;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 1rem;
}
}
