:root {
  --black: #1f1f21;
  --light-black: #515151;
  --font-lato: "Lato", sans-serif;
}

.container {
  align-items: center;
  width: 95%;
  margin: auto;
  box-sizing: border-box;
}

.container h3 {
  color: #000;
  font-family: var(--font-lato);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.overallBft,
.overallBft2 {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  margin-bottom: 4rem;
  justify-content: space-between;
  box-sizing: border-box;
}

.bft {
  flex: 1;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
}

.bft img {
  width: 100px; /* Set a fixed size for images */
  height: 100px; /* Set a fixed size for images */
  object-fit: contain; /* Ensure images fit within the set size */

}

.bft h2 {
  color: var(--black);
  font-family: var(--font-lato);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  /* text-align: center; Center align text */
}

.bft p {
  color: var(--light-black);
  font-family: var(--font-lato);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.5%; /* 28.035px */
  width: 90%;
  /* text-align: center; Center align text */
}

@media screen and (max-width: 768px) {
  .bft h2 {
    font-size: 25px;
    width: 80%;
  }

  .bft p {
    font-size: 13.5px;
    width: 90%;
  }
}

@media screen and (max-width: 570px) {
  .overallBft,
  .overallBft2 {
    flex-direction: column;
  }

  .container h3 {
    font-size: 30px;
  }

  .bft {
    margin-bottom: 1rem;
  }

  .bft h2 {
    font-size: 30px;
    width: 80%;
  }

  .bft p {
    font-size: 16px;
    width: 90%;
  }
}
