.container {
  background-image: url(/src/Assets/agro/testBack.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  margin: auto;
  margin-top: 4rem;
}

.contactFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}

.contactText h3 {
  color: var(--white, #fff);
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  width: 75%;
}

.contactInput {
  border-radius: 8px;
  background: #fff;
  padding: 2rem;
}

.contactInput h3 {
  color: #1429a9;
  font-family: Lato;
  font-size: 37.445px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 52.423px */
  text-align: center;
  margin-bottom: 2rem;
}

.contactInput input {
  border-radius: 8px;
  border: 1.5px solid #cacaca;
  background: #f9f9f9;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 250px;
}

.contactInput ::placeholder {
  color: var(--light-black, #515151);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.5%; /* 21.36px */
}

.contactInput2 input {
  border-radius: 8px;
  border: 1.5px solid #cacaca;
  background: #f9f9f9;
  margin-bottom: 0.5rem;
  padding-bottom: 3rem;
}

.contactInput button {
  color: #fff;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.5%; /* 32.04px */
  border-radius: 8px;
  background: #1429a9;
  padding: 0.5rem;
  width: 250px;
  border: none;
}
