.container {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  gap: 2rem;
}

li {
  list-style-type: none;
  color: var(--black, #1f1f21);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.5%; /* 28.1px */
}

li:hover {
  color: #1429a9;
  cursor: pointer;
  font-weight: 900;
}

.logo{
    cursor: pointer;
}
